.DS_Store
*.log
.nyc_output
node_modules
dist
build-lib
build-es
coverage
_book
patch/redux-logic.orig.js
patch/redux-logic.orig.min.js
patch/redux-logic.patched.js
vsTestAdapter/mochaTestAdapterInit.js
